COMPOSE_PROJECT_NAME=inkamnet-final-v1-staging
NODE_ENV=production
PORT=3200
APP_NAME=INKAMNET Control Center
APP_URL=http://localhost:3200
SESSION_SECRET=GANTI_DENGAN_RANDOM_STRING_PANJANG_MINIMAL_32_KARAKTER
ROUTER_CREDENTIAL_KEY=GANTI_DENGAN_RANDOM_STRING_LAIN_UNTUK_ENKRIPSI_ROUTER
COOKIE_SECURE=true
DB_HOST=db
DB_PORT=3306
DB_NAME=inkamnet
DB_USER=inkamnet
DB_PASSWORD=GANTI_PASSWORD_DATABASE
DB_ROOT_PASSWORD=GANTI_ROOT_PASSWORD_DATABASE
DEFAULT_ADMIN_USERNAME=admin
DEFAULT_ADMIN_PASSWORD=GantiPasswordAdmin123!
DEFAULT_ADMIN_NAME=Edwin
TZ=Asia/Jakarta
